
<app-spinner-layout></app-spinner-layout>
<div class="app-body" style="margin-top: 50px;">
    <main class="main d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mx-auto">
            <div class="card mx-4">
              <div class="card-body p-4">
                
                  <h1>Pin code Reovery</h1>
                  <p class="text-muted">Recovery Password by CNIC and SAP code</p>
                  <form [formGroup]="itemForm" (ngSubmit)="onResetPassword()">
            
                   
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-user"></i></span>
                      </div>
                      <input  minlength="0" min="0" max="7" [(ngModel)]="formModel.SAPCode" formControlName="SAPCode" type="number" class="form-control"
                        placeholder="SAP-Code" autocomplete="SAPCode" required>
                    </div>
                   
                      <div class="form-group">
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><li class="fa fa-address-card"></li></span>
                        </div>
                        <input [(ngModel)]="formModel.CNIC" formControlName="CNIC" type="number" class="form-control"
                          placeholder="CNIC without Dash" >
                      </div>
                      <div
                      *ngIf="itemForm.controls['CNIC'].invalid && (itemForm.controls['CNIC'].dirty || itemForm.controls['CNIC'].touched)"
                      class="danger">
                      <span *ngIf="itemForm.controls['CNIC'].errors.required">
                        <span style="color: red;">Please Enter CNIC.</span>
                      </span>
                      <div *ngIf="itemForm.controls['CNIC'].hasError('minlength')">
                        <span style="color: red;">First Name requied atleast 3 characters.</span>
                      </div>
                    </div>
               
                  </div>
                  <div *ngIf="isRegister">
                      <div class="form-group">
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="icon-lock"></i></span>
                          </div>
                          <input [(ngModel)]="formModel.PIN" id="PIN" formControlName="PIN" type="number"
                            type="password" class="form-control" placeholder="4 Digit Pin Code" autocomplete="new-password"
                            required>
                      
                        </div>
                        <div
                        *ngIf="itemForm.controls['PIN'].invalid && (itemForm.controls['PIN'].dirty || itemForm.controls['ConfirmPIN'].touched)"
                        class="danger">
                        <span *ngIf="itemForm.controls['PIN'].errors.required">
                          <span style="color: red;">Please Enter PIN.</span>
                        </span>
                        <span *ngIf="itemForm.controls['PIN'].errors.PIN">
                          <span style="color: red;"> Enter Please PIN .</span>
                        </span>
                      </div>
                      </div>
                      <div class="form-group">
                        <div class="input-group mb-4">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="icon-lock"></i></span>
                          </div>
                          <input [(ngModel)]="formModel.ConfirmPIN" id="ConfirmPIN" formControlName="ConfirmPIN" type="number"
                            type="password" class="form-control" placeholder="Repeat Pin Code" autocomplete="new-password"
                            required>
                        
                        </div>
                        <div
                        *ngIf="itemForm.controls['ConfirmPIN'].invalid && (itemForm.controls['ConfirmPIN'].dirty || itemForm.controls['ConfirmPIN'].touched)"
                        class="danger">
                        <span *ngIf="itemForm.controls['ConfirmPIN'].errors.required">
                          <span style="color: red;">Please Enter Confirm PIN.</span>
                        </span>
                      </div>
                      <div class="danger" *ngIf="itemForm.errors?.mismatch && (itemForm.controls['ConfirmPIN'].dirty || itemForm.controls['ConfirmPIN'].touched)">
                        <span style="color: red;">PIN not match..</span>
                      </div>
                      </div>
    
                    </div>
                    <button *ngIf="!isRegister" type="button" (click)="checkSapCode()"
                      class="btn btn-block btn-success">Submit</button>
                    <button type="submit" [disabled]="!itemForm.valid" *ngIf="isRegister" type="submit" class="btn btn-block btn-success">Create</button>
                  </form>
              </div>
        
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  