<app-spinner-layout></app-spinner-layout>
<div class="row">
    <div class="col-md-12">
    
<div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-5">
          <h4 class="card-title mb-0">Services Of Centers</h4>
          <div class="small text-muted">Manage Services Of Centers</div>
        </div><!--/.col-->
        <div class="col-sm-7 d-none d-md-block">
          
          <div class="row float-right">
            <div class=" col-sm-10">
            <input placeholder="Search"[(ngModel)]="SearchMD.searchText" class="form-control float-right">
          </div>
          <div class="col-sm-2">
            <button type="button" data-toggle="modal" (click)="create()" (click)="myModal.show()" class="btn btn-primary float-right"><i class="fa fa-plus-circle"></i></button>
          </div>
          </div>
          
        </div><!--/.col-->
   
 
      </div><!--/.row-->
      <hr>
      <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <ng-select   placeholder="Select Center" [items]="CenterList"
                  bindLabel="ServiceCenterName" bindValue="ServiceCenterId" [(ngModel)]="selectedCenterMD">
                </ng-select>
              </div>
          </div>
        <div class="col-md-5">
          <div class="form-group">
              <ng-select    placeholder="Select Service Type" [items]="lookupList"
                bindLabel="CodeData" bindValue="CodeId" [(ngModel)]="selectedLookupID">
              </ng-select>
            </div>
        </div>
        <div class="col-md-2">
            <button (click)="filter()" class="btn btn-success btn-block">Filter</button>
          </div>
      </div>
    
      <table class="table table-responsive-sm table-hover table-outline mb-0">
              <thead >
                <tr>
                  <!-- <th class="text-left"><i class="icon-lightbulb"></i></th>          -->
                  <th  class="text-left">Name</th>
                  <th class="text-center">Center</th>
                  <th class="text-center">Service Type</th>
                  <th class="text-center">Locations</th>
                  <th class="text-center">Floors</th>
                  <th class="text-center">Status</th>
                  <th class="text-center">Action</th>
               
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let val of serviceList  |    filter : SearchMD.searchText">
          
                 
                  <td class="text-left">
                      <strong>{{val.ServiceName}}</strong>

                  </td>
                  <td class="text-center">
                      <div>{{val.Center }}</div>
                   
                  </td>
                  <td class="text-center">
                    {{val.ServiceType}}
                  </td>
                  <td class="text-center">
                    {{val.LocationsCount}}
                  </td>
                  <td class="text-center">
                    {{val.FloorsCount}}
                  </td>
               
                  <td class="text-center">
                      <div> <label class="switch switch-label switch-pill switch-danger">
                          <input class="switch-input" (change)="changeStatus(val)" type="checkbox" [checked]="val.IsActive">
                          <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                          </label></div>
                  </td>
                  <td class="text-center">
                 
                    <button (click)="deleteService(val)"   class="btn btn-square btn-danger" type="button"> <i class="fa fa-trash"></i></button>
                      <button (click)="edit(val)"  data-toggle="modal" (click)="myModal.show()" class="btn btn-square btn-warning" type="button"> <i class="fa fa-pencil-square-o"></i></button>
                  </td>
                 
                
                 
                </tr>
              
              </tbody>
            </table>
    </div>
    <div class="card-footer">
      
    </div>
  </div>
  </div>
</div>

<div bsModal #myModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade bd-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Add/Update Service of Centers</h4>
          <button type="button" class="close" (click)="myModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="itemForm" (ngSubmit)="save()" >
                 
              <div class="form-group">
                    
                <input type="hidden"  class="form-control"   [(ngModel)]="accountInfo.RecordId" formControlName="RecordId">
                <input type="hidden"  class="form-control"   [(ngModel)]="accountInfo.IsActive" formControlName="IsActive">
                <input type="hidden"  class="form-control"   [(ngModel)]="accountInfo.IsDeleted" formControlName="IsDeleted">
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label >Center:</label>
                        <ng-select [items]="CenterList"  bindLabel="ServiceCenterName" bindValue="ServiceCenterId"
                        placeholder="Choose Center"  formControlName="CenterId" [(ngModel)]="accountInfo.CenterId">
                      </ng-select>
                          <div *ngIf="itemForm.controls['CenterId'].invalid && (itemForm.controls['CenterId'].dirty || itemForm.controls['CenterId'].touched)" class="ng-dirty" >
                                  <span *ngIf="itemForm.controls['CenterId'].errors.required">
                                      <span style="color: red;">Please Enter .</span>  
                                  </span>
                              </div>                  
                      </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label >Service Type:</label>
                        <ng-select [items]="lookupList" (change)="onChangeServiceType($event)"  bindLabel="CodeData" bindValue="CodeId"
                        placeholder="Choose Service Type"  formControlName="ServiceTypeId" [(ngModel)]="accountInfo.ServiceTypeId">
                      </ng-select>
                          <div *ngIf="itemForm.controls['ServiceTypeId'].invalid && (itemForm.controls['ServiceTypeId'].dirty || itemForm.controls['ServiceTypeId'].touched)" class="ng-dirty" >
                                  <span *ngIf="itemForm.controls['ServiceTypeId'].errors.required">
                                      <span style="color: red;">Please Enter .</span>  
                                  </span>
                              </div>                  
                      </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label >Service:</label>
                        <ng-select [items]="serviceList"  bindLabel="ServiceName" bindValue="ServiceId"
                        placeholder="Choose Service"  formControlName="ServiceId" [(ngModel)]="accountInfo.ServiceId">
                      </ng-select>
                          <div *ngIf="itemForm.controls['ServiceId'].invalid && (itemForm.controls['ServiceId'].dirty || itemForm.controls['ServiceId'].touched)" class="ng-dirty" >
                                  <span *ngIf="itemForm.controls['ServiceId'].errors.required">
                                      <span style="color: red;">Please Enter .</span>  
                                  </span>
                              </div>                  
                      </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label >Locations Count:</label>
                        <div class="input-group">
                          <div class="input-group-prepend"></div>
                          <input type="number" placeholder="Locations Count" class="form-control"   [(ngModel)]="accountInfo.LocationsCount" formControlName="LocationsCount">
                          
                        </div>       
                          <div *ngIf="itemForm.controls['LocationsCount'].invalid && (itemForm.controls['LocationsCount'].dirty || itemForm.controls['LocationsCount'].touched)" class="ng-dirty" >
                                  <span *ngIf="itemForm.controls['LocationsCount'].errors.required">
                                      <span style="color: red;">Please Enter .</span>  
                                  </span>
                              </div>
                        
                      </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label >FloorsCount:</label>
                          <input type="number" placeholder="FloorsCount" class="form-control"   [(ngModel)]="accountInfo.FloorsCount" formControlName="FloorsCount"/>
                          <div *ngIf="itemForm.controls['FloorsCount'].invalid && (itemForm.controls['FloorsCount'].dirty || itemForm.controls['FloorsCount'].touched)" class="ng-dirty" >
                                  <span *ngIf="itemForm.controls['FloorsCount'].errors.required">
                                      <span style="color: red;">Please Enter .</span>  
                                  </span>
                              </div>
                        
                      </div>
                    
                </div>
            </div>
   
        
              <br>
              <div class="modal-footer">
                  <button type="submit"  class="btn btn-sm btn-primary" type="submit">
                      <i class="fa fa-dot-circle-o"></i> Submit</button>
                      <button (click)="Reset()" class="btn btn-sm btn-danger" type="reset">
                          <i class="fa fa-ban"></i> Reset</button>
             
              </div>
            </form>
        </div>
       
      </div>
     </div>
  </div>





